<%- include("header") -%>
<main>
    <div class="container1">   
        <h1>About</h1>    
        <p>
            This is a weather website developed using HTML, CSS, JavaScript, Node.js, Ejs. It uses API to get information about the weather of a paricular city and displays it.
        </p> 
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque placeat ipsa ut eligendi sequi illum praesentium atque laboriosam. Deserunt dolorem blanditiis sequi a beatae magni totam voluptatibus quos aliquam possimus tempore accusamus temporibus, id impedit ut, aut ratione magnam consequuntur numquam hic similique alias in culpa. Quo tempora, quod enim molestias commodi doloremque distinctio vero animi, delectus quae omnis non ducimus quas? Porro ullam aliquam asperiores, reprehenderit omnis dolore expedita nam praesentium officia. Sint voluptas eaque expedita maiores voluptatum, ratione, sequi voluptate pariatur neque modi harum doloribus dignissimos in cupiditate repellat ullam nesciunt aut voluptatibus a aliquid mollitia iste! Officiis.
        </p>
    </div>
</main>
<%- include("footer") -%>