<%- include("header") -%>
<main>
    <div class="container1" style="color: black">
        <h1>Contact</h1>
        <p>E-mail: gauravghidode@gmail.com</p>
    </div>
</main>

<%- include("footer") -%>